<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Livrocaz-authentifié</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
	<div class="text-center">
		<div class="container">
  			<div class="row justify-content-center">
    			<div class="col-sm-10">

					<br>
					<h1>Livrocaz</h1>
					<br>
					
						<!--  <div sec:authentication="name"></div> -->
						<!--  <div sec:authentication="principal.authorities"></div> -->
						<!-- <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div> -->
						<!--  <div sec:authorize="hasAuthority('USER')">Text visible to user.</div> -->
       					<!-- <div sec:authorize="hasAuthority('ADMIN')">Text visible to admin.</div> -->
       					<!-- <div sec:authorize="hasAuthority('MANAGER')">Text visible to manager.</div> -->
       					
					
					<div sec:authorize="hasAuthority('INSCRIT')"> 
						<p class='succes'>Vous êtes authentifié en tant qu'<strong>Inscrit</strong> !!</a></p>
					</div>
					
					<div sec:authorize="hasAuthority('ADMIN')"> 
						<p class='succes'>Vous êtes authentifié en tant qu'<strong>Administrateur</strong> !!</a></p>
					</div>
					
					<div sec:authorize="hasAuthority('GESTIONNAIRE')"> 
						<p class='succes'>Vous êtes authentifié en tant que <strong>Gestionnaire</strong> !!</a></p>
					</div>
					
					<br>
					<div class="row justify-content-center">
		                <div class="col-sm-4">
		                    <button type="button" class="btn btn-block btn-outline-dark" onclick="location.href='/index.html';">Accueil</button>
		                    <button type="button" class="btn btn-block btn-outline-secondary" data-toggle="modal" data-target="#popup">Déconnexion</button>
		                </div>
	                </div>
					
					<!-- Modal -->
					<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalCenterTitle">Déconnexion</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p>Voulez-vous vraiment vous déconnecter ?</p>
					      </div>
					      <div class="modal-footer">
					      	<button type="button" class="btn btn-secondary" onclick="location.href='/logout';">OUI</button>
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
					      </div>
					    </div>
					  </div>
					</div>
					
					<footer class="footer py-3 text-white fixed-bottom">
					<p>
						Nico et Cédric - 2018
					</p>
					</footer>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>
