
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { 
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    background-color: grey;
}

.container {
    position: absolute !important;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: grey;
}

.montserrat {
    font-family: Montserrat !important;
    font-weight: 500;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    padding-right: 0 !important;
	margin-top: 40px;	
}

.header {
    height: 150px; 
}
	
span {
    display: flex;
    align-items: center;
    height: 100%;
}

.pad-side {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pad {
    padding: 15px;
}

.item {
    width: 400px;
}

.item-large { 
    width: 1000px
}
 
.center {
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: left;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align {
    display: flex;
    align-items: center;
}

.align-bas {
    display: flex;
    align-items: flex-end;
}

.column {
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: flex-end;
}

a {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a:hover {
    color: brown;
}

.wrap {
    flex-wrap: wrap;
}

table, .width-cent {
    width: 100%;
}

/* Pop-up suppression */
.mat-snack-bar-container {
    background-color: #333;
    color: white;
}

.mat-simple-snackbar-action {
    color: rgb(255, 145, 0) !important;
}
