<mat-toolbar class = "header">
  <mat-toolbar-row>
    <span class="item titre">
      <span class="montserrat pad-side"><a href = '/liste'>{{ title }}</a></span>
    </span>

    <span class = "item-large">
    <form>
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" id="search" name="search" placeholder="Rechercher un livre par nom, par auteur, par genre...">
      <button type="submit" id="valider" form="search" value="Submit">Go !</button>
    </form>
  </span>
  

    <span class="item right">
      
      <a class="button petit-button" [matMenuTriggerFor]="tables">A</a>
      <mat-menu #tables="matMenu">
        <button mat-menu-item routerLink="gestion/livres">Livres</button>
        <button mat-menu-item routerLink="gestion/langues">Langues</button>
        <button mat-menu-item routerLink="gestion/genres">Genres</button>
        <button mat-menu-item routerLink="gestion/editeurs">Editeurs</button>
        <button mat-menu-item routerLink="gestion/auteurs">Auteurs</button>
        <button mat-menu-item routerLink="gestion/clients">Clients</button>
        <button mat-menu-item routerLink="gestion/users">Identifiants</button>
      </mat-menu>
      <a class="button" href="/moncompte">Mon Compte</a>
      <a href="" title="Favoris"><mat-icon class="pad-side">favorite_border</mat-icon></a>
      <a href="" title="Panier"><mat-icon class="pad-side">shopping_cart</mat-icon></a>
      
    </span>
  </mat-toolbar-row>
</mat-toolbar>
