<mat-toolbar class = "header">
  <mat-toolbar-row>
    <span class="item titre">
      <span class="montserrat pad-side"><a routerLink=''>{{ title }}</a></span>
    </span>

    <span class = "item-large">
    <form>
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" id="searchBox" placeholder="Rechercher un livre par nom, par auteur, par genre...">
      <button type="button" (click)="onSearch()" id="valider">Go !</button>
    </form>
  </span>
  

    <span class="item right">
      
      <a *ngIf="isAdmin" class="button petit-button" [matMenuTriggerFor]="tables">A</a>
      <mat-menu #tables="matMenu">
        <button mat-menu-item routerLink="gestion/livres">Livres</button>
        <button mat-menu-item routerLink="gestion/langues">Langues</button>
        <button mat-menu-item routerLink="gestion/genres">Genres</button>
        <button mat-menu-item routerLink="gestion/editeurs">Editeurs</button>
        <button mat-menu-item routerLink="gestion/auteurs">Auteurs</button>
        <button mat-menu-item routerLink="gestion/clients">Clients</button>
        <button mat-menu-item routerLink="gestion/users">Identifiants</button>
        <button mat-menu-item routerLink="gestion/commandes">Commandes</button>
        <button mat-menu-item routerLink="gestion/ca">Chiffre d'affaire</button>
      </mat-menu>
      <a class="button" routerLink='signin'>Mon Compte</a>
      <a routerLink="" (click)="signOut()" title="Favoris"><mat-icon class="pad-side">power_settings_new</mat-icon></a>
      <p *ngIf='username'>{{username?.value}}</p>
      <a href="" title="Panier"><mat-icon class="pad-side">shopping_cart</mat-icon></a>
      
    </span>
  </mat-toolbar-row>
</mat-toolbar>
