input {
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(226, 226, 226);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 40, 40);
    background-repeat: no-repeat;
    background-position-x: 10px;
    color: white;
    padding-left: 50px;
    border-style: solid;
    
}

input:focus {
    outline:0;
}

form {
    position: relative;
}

.search-icon {
    position: absolute;
    font-size: 30px;
    top: 5px;
    left: 10px;
}

.button {
    height: 40px;
    width: 200px;
    background-color:transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    font-size: 17spx;
    margin-right: 7px;
}

.button:hover {

color:brown;
border-color: brown;


}

.titre {
    font-size: 40px;
    margin-left: 70px;
    font-weight: bold;
}

#valider {


    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height:40px;
    width: 60px;
    border-style: solid;
    border-left-style: none;
    background-color: rgb(77, 77, 77);
    font-weight: bold;
    color:white;
}
#valider:hover {

background-color:rgb(99, 99, 99); 
}