<mat-toolbar>
  <mat-toolbar-row>
    <span class="item">
      <mat-icon>local_library</mat-icon>
      <span class="montserrat pad-side">{{ title | uppercase}}</span>
    </span>
    <span class="montserrat item center">
      <a routerLink="" title="Accueil"><span class="pad-side">Accueil</span></a>
      <a href="" title="Catalogue"><span class="pad-side">Catalogue</span></a>
    </span>
    <span class="item right">
      <a routerLink="gestion/livres" title="Admin" class="pad-side montserrat">A</a>
      <a href="" title="Recherche"><mat-icon class="pad-side">search</mat-icon></a>
      <a href="" title="S'identifier"><mat-icon class="pad-side">perm_identity</mat-icon></a>
      <a href="" title="Panier"><mat-icon class="pad-side">shopping_cart</mat-icon></a>
      <a href="" title="Langue-FR"><mat-icon class="pad-side">public</mat-icon></a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
