<div class="center pad">
  <mat-card>
    <div class="moyen">
      <form class="center column">
        <mat-form-field>
          <input matInput placeholder="ISBN" value="">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Titre" value="">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Url de l'image" value="">
        </mat-form-field>

        <div>
          <mat-form-field class="moyen">
            <input matInput placeholder="Année de parution" value="" maxlength="4">
          </mat-form-field>
          <mat-form-field class="moyen">
            <input matInput placeholder="Stock" value="" maxlength="3">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="moyen">
            <input matInput placeholder="Prix neuf" value="">
          </mat-form-field>
          <mat-form-field class="moyen">
            <input matInput placeholder="Prix occasion" value="">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="moyen">
            <mat-select placeholder="Langue">
              <mat-option *ngFor="let langue of langues" [value]="langue.idLangue">
                {{langue.nomLangue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="moyen">
              <mat-select placeholder="Editeur">
                <mat-option *ngFor="let editeur of editeurs" [value]="editeur.idEditeur">
                  {{editeur.nomEditeur}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div>
          <mat-form-field class="moyen">
            <mat-select placeholder="Auteurs">
              <mat-option *ngFor="let auteur of auteurs" [value]="auteur.idAuteur">
                {{auteur.surnameAuteur}} {{auteur.nameAuteur}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="moyen">
              <mat-select placeholder="Genres">
                <mat-option *ngFor="let genre of genres" [value]="genre.idGenre">
                  {{genre.nomGenre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card>
</div>
