<div class="center pad animated bounceInUp">
  <mat-card class="center">
    <form  class="center" [formGroup]="livreForm">
      <div class="moyen center pad column">
        <mat-form-field>
          <input matInput type="number" placeholder="ISBN" formControlName="isbn" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Titre" formControlName="titreLivre">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Url de l'image" [value]="imageCouvertureInit" (input)="imageCouvertureInit = $event.target.value" formControlName="imageCouverture">
        </mat-form-field>

        <div class="center cent">
          <mat-form-field>
            <input matInput placeholder="Année de parution" formControlName="anneeParution" maxlength="4">
          </mat-form-field>
          <mat-form-field class="margin-left">
            <input matInput placeholder="Stock" formControlName="stock" maxlength="3">
          </mat-form-field>
        </div>

        <div class="center cent">
          <mat-form-field>
            <input matInput placeholder="Prix neuf (€)" formControlName="prixNeuf">
          </mat-form-field>
          <mat-form-field class="margin-left">
            <input matInput placeholder="Prix occasion (€)" formControlName="prixOccas">
          </mat-form-field>
        </div>

        <div class="center cent">
          <mat-form-field>
            <mat-select placeholder="Langue" formControlName="langue">
              <mat-option *ngFor="let langue of langues" [value]="langue">
                {{langue.nomLangue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="margin-left">
              <mat-select placeholder="Editeur" formControlName="editeur">
                <mat-option *ngFor="let editeur of editeurs" [value]="editeur">
                  {{editeur.nomEditeur}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="center cent">
          <div formArrayName="auteurs">
            <mat-form-field *ngFor="let auteurControl of getAuteursControl().controls; let i = index">
              <mat-select placeholder="Auteurs" [formControlName]="i">
                <mat-option *ngFor="let auteur of auteurs" [value]="auteur">
                  {{auteur.surnameAuteur}} {{auteur.nameAuteur}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button type="button" (click)="onAddAuteur()">Ajouter un auteur</button>
          </div>
          <div formArrayName="genres">
            <mat-form-field class="margin-left" *ngFor="let genreControl of getGenresControl().controls; let i = index">
              <mat-select placeholder="Genres" [formControlName]="i">
                <mat-option *ngFor="let genre of genres" [value]="genre">
                  {{genre.nomGenre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button type="button" (click)="onAddGenre()">Ajouter un genre</button>
          </div>
        </div>
      </div>

      <div class="center moyen up column pad">
        <div class="couverture-off mat-elevation-z8" *ngIf="!imageCouvertureInit"></div>
        <img class ="couverture mat-elevation-z8" src= {{imageCouvertureInit}} *ngIf="imageCouvertureInit">
        <mat-form-field>
          <textarea rows="7" matInput placeholder="Sujet" formControlName="sujetLivre"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea rows="1" matInput placeholder="Description" formControlName="descriptionLivre"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card>
</div>

<div class="center">
  <button mat-raised-button (click)="onBack()">RETOUR</button>
  <button mat-raised-button (click)="onSave()" [disabled]="livreForm.invalid">ENREGISTRER</button>
</div>
