.mat-card {
    font-family: Montserrat !important;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
}



h3.titreLivre {
    padding-top: 0;
    margin-top: 0;
    color: black;
    font-size: 30px;
    font-weight: bold;
    
}

.prix {
    text-decoration: line-through;
    color: darkgrey;
    font-size: 20px;
    margin-left:20px;
}

.prixOccas {
    color:black;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 5px;

}

.couverture {
    width: 400px;
    height: auto;
    border: black 2px solid;
}

.center {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.detail {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    max-width: 500px;
}

.conteneur {
    margin: 0 auto;
    margin-top: 40px;
    width: 1200px;
    height: 800px;
}
span.underline {
    text-decoration: underline;
    display: inline;
}

.section {
    margin-top: 50px;
}

.prixe{
    margin-left: 15px;
    width: 200px;
    background-color: lightgray;
    padding-left: 30px;
    
}