<div class="center" *ngIf="displayedLivre">
    <mat-card class="center">
        <img class = "couverture" src= {{displayedLivre.imageCouverture}} alt= '"Couverture de" {{displayedLivre.titreLivre}}'>
        <h4 class="titreLivre">{{ displayedLivre.titreLivre }}</h4>
        <div class="prix">
            <div>{{ displayedLivre.prixOccas }} €</div>
            <div class="prixOccas">{{ displayedLivre.prixNeuf }} €</div>
        </div>
    </mat-card>
    <div class="column">
        <p><strong>ISBN : </strong>{{displayedLivre.isbn}}</p>
        <p><strong>Année de parution : </strong>{{displayedLivre.anneeParution}}</p>
        <p><strong>Langue : </strong>{{displayedLivre.langue.nomLangue}}</p>
        <p><strong>Produits en stock : </strong>{{displayedLivre.stock}}</p>
        <p><strong>Genres : </strong><span *ngFor="let genre of displayedLivre.genres">{{genre.nomGenre}}</span></p>
        <p><strong>Sujet du livre : </strong>{{displayedLivre.sujetLivre}}</p>
        <p><strong>Description : </strong>{{displayedLivre.descriptionLivre}}</p>
    </div>
</div>
<div class="center">
    <button mat-raised-button (click)="onBack()">Retour</button>
</div>