<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Genre 1"> 
    <div class="center wrap">
      <mat-card *ngFor="let livre of livresList | async">
          <a routerLink="/detail/{{livre.idLivre}}">
            <img class = "couverture" src= {{livre.imageCouverture}} alt= '"Couverture de" {{livre.titreLivre}}' title= {{livre.titreLivre}} >
            <h4 class="titreLivre">{{ livre.titreLivre }}</h4>
            <div class="prix">
              <div>{{ livre.prixOccas | number:'1.2-2'}} €</div>
              <div class="prixOccas">{{ livre.prixNeuf | number:'1.2-2'}} €</div>
            </div>
        </a>
      </mat-card>
    </div> 
  </mat-tab>

  <mat-tab label="Genre 2">
      <div class="center wrap">
        <mat-card *ngFor="let livre of livresList | async">
          <a routerLink="/detail/{{livre.idLivre}}">
              <img class = "couverture" src= {{livre.imageCouverture}} alt= '"Couverture de" {{livre.titreLivre}}' title= {{livre.titreLivre}} >
              <h4 class="titreLivre">{{ livre.titreLivre }}</h4>
              <div class="prix">
                <div>{{ livre.prixOccas | number:'1.2-2'}} €</div>
                <div class="prixOccas">{{ livre.prixNeuf | number:'1.2-2'}} €</div>
              </div>
          </a>
        </mat-card>
      </div> 
  </mat-tab>

  <mat-tab label="Genre 3">
      <div class="center wrap">
        <mat-card *ngFor="let livre of livresList | async">
            <a routerLink="/detail/{{livre.idLivre}}">
              <img class = "couverture" src= {{livre.imageCouverture}} alt= '"Couverture de" {{livre.titreLivre}}' title= {{livre.titreLivre}} >
              <h4 class="titreLivre">{{ livre.titreLivre }}</h4>
              <div class="prix">
                <div>{{ livre.prixOccas | number:'1.2-2'}} €</div>
                <div class="prixOccas">{{ livre.prixNeuf | number:'1.2-2'}} €</div>
              </div>
          </a>
        </mat-card>
      </div> 
  </mat-tab>
</mat-tab-group>
